In [15]:
import pandas as pd
import numpy as np

In [5]:
file = "/Users/liesbeth_bogaert/Documents/AoC/2021/input/input_day5.txt"

In [8]:
lines = open(file).read().splitlines()
#print(lines)

In [16]:
df = pd.DataFrame(lines, columns=['input'])
df[['first','second']] = df['input'].str.split('->',expand=True)
df[['x1', 'y1']] = df['first'].str.split(',',expand=True).astype('int')
df[['x2', 'y2']] = df['second'].str.split(',',expand=True).astype('int')

print(df)

                  input     first    second   x1   y1   x2   y2
0    818,513 -> 818,849  818,513    818,849  818  513  818  849
1    259,377 -> 259,599  259,377    259,599  259  377  259  599
2    120,758 -> 977,758  120,758    977,758  120  758  977  758
3     49,386 -> 170,386   49,386    170,386   49  386  170  386
4    773,644 -> 773,745  773,644    773,745  773  644  773  745
..                  ...       ...       ...  ...  ...  ...  ...
495   967,310 -> 98,310  967,310     98,310  967  310   98  310
496   439,381 -> 439,35  439,381     439,35  439  381  439   35
497  645,240 -> 282,240  645,240    282,240  645  240  282  240
498   475,54 -> 475,658   475,54    475,658  475   54  475  658
499  972,610 -> 759,823  972,610    759,823  972  610  759  823

[500 rows x 7 columns]

In [53]:
part1 = df
part1[(part1['x1']==part1['x2']) | (part1['y1']==part1['y2'])]
print(part1)

                  input     first    second   x1   y1   x2   y2
0    818,513 -> 818,849  818,513    818,849  818  513  818  849
1    259,377 -> 259,599  259,377    259,599  259  377  259  599
2    120,758 -> 977,758  120,758    977,758  120  758  977  758
3     49,386 -> 170,386   49,386    170,386   49  386  170  386
4    773,644 -> 773,745  773,644    773,745  773  644  773  745
..                  ...       ...       ...  ...  ...  ...  ...
495   967,310 -> 98,310  967,310     98,310  967  310   98  310
496   439,381 -> 439,35  439,381     439,35  439  381  439   35
497  645,240 -> 282,240  645,240    282,240  645  240  282  240
498   475,54 -> 475,658   475,54    475,658  475   54  475  658
499  972,610 -> 759,823  972,610    759,823  972  610  759  823

[500 rows x 7 columns]

In [56]:
map1 = np.zeros((df[['x1','x2']].max(axis=1).max(axis=0)+1,df[['y1','y2']].max(axis=1).max(axis=0)+1))
map2 = np.zeros((df[['x1','x2']].max(axis=1).max(axis=0)+1,df[['y1','y2']].max(axis=1).max(axis=0)+1))


for i, row in df.iterrows():    
    if row.x1 != row.x2 and row.y1 != row.y2:
        xx = range(row.x1, row.x2 + 1) if row.x2 > row.x1 else range(row.x1, row.x2 - 1, -1)
        yy = range(row.y1, row.y2 + 1) if row.y2 > row.y1 else range(row.y1, row.y2 - 1, -1)
        for x, y in zip(xx, yy):
            map2[x][y] += 1
    else:
        for x in range(min(row.x1, row.x2), max(row.x1, row.x2) + 1):
            for y in range(min(row.y1, row.y2), max(row.y1, row.y2) + 1):
                map1[x][y] += 1
                map2[x][y] += 1

In [58]:
n = len(map1[map1 > 1])
print(n)

6007

In [59]:
n = len(map2[map2 > 1])
print(n)

19349